data/*
test_data/*
models/*
recordings/*s
data_new/*
jungle_mouse_data/*
new_jungle_mouse_data/*
Latest Data Splits/*
recordings/*
Lane Images/*
Algorithm 3 Lane Images/*
Unsuccessful Lane Images/*
Algorithm 3 Unsuccessful/*
Algorithm 4 Lane Images/*
Algorithm 4 Unsuccessful/*
Algorithm 5 Lane Images/*
Algorithm 5 Unsuccessful/*